* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat";
    color: white;
}

body {
    background-color: #222222;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#logo {
    margin: 16px;
}

main {
    display: inline-block;
    padding-bottom: 24px;
    width: 768px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.2);
    background-color: #333333;
}

h1 {
    display: block;
    padding: 8px;
    color: #00ccff;
    width: 100%;
    background-color: #444444;
    margin-bottom: 24px;
    font-weight: 900;
}

form {
    display: flex;
    text-align: left;
    flex-direction: column;
    margin: 0 32px;
}

form > h2 {
    padding-bottom: 4px;
    border-bottom: 2px solid #444444;
}

[radio] {
    display: block;
    margin: 8px 0;
}

[radio] > input {
    display: none;
}

[radio] > span::before {
    content: "";
    display: inline-block;
    width: 32px;
    height: 32px;
    border-radius: 100%;
    background-color: #444444;
    border: 16px solid #444444;
    box-sizing: border-box;
    transition: border ease .2s;
    vertical-align: -50%;
    margin-right: 8px;
}

[radio] > input:checked + span::before {
    border-color: #02c8a1;
    background-color: white;
    border-width: 8px;
}

[radio] > span {
    display: block;
    height: 32px;
    font-size: 16px;
    color: white;
    -webkit-user-select: none;  
    -moz-user-select: none;    
    -ms-user-select: none;      
    user-select: none;
}

[radio] > input:checked + span {
    color: #02c8a1;
    font-weight: bold;
}